<!DOCTYPE html>
<html>
<head>
    <title>Payment</title>
</head>
<body>

<h2>Temple Ticket Payment</h2>

<p><b>Name:</b> {{ name }}</p>
<p><b>Temple:</b> {{ temple }}</p>
<p><b>Tickets:</b> {{ tickets }}</p>

<h3>Total Amount: ₹{{ amount }}</h3>

<form action="/confirm_booking" method="POST">

    <input type="hidden" name="name" value="{{ name }}">
    <input type="hidden" name="email" value="{{ email }}">
    <input type="hidden" name="mobile" value="{{ mobile }}">
    <input type="hidden" name="temple" value="{{ temple }}">
    <input type="hidden" name="date" value="{{ date }}">
    <input type="hidden" name="tickets" value="{{ tickets }}">

    <button type="submit">
        Pay Now
    </button>

</form>

<br>

<a href="/dashboard">Cancel Payment</a>

</body>
</html>
