<!DOCTYPE html>
<html>
<head>
    <title>DarshanHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>DarshanHub</h1>
</header>

<div class="container">

<h2>Temple Darshan Ticket Booking</h2>

<p>
Book darshan tickets online for your favourite temples quickly and securely.
</p>

<a href="/login">
    <button>Login</button>
</a>
<a href="/register">
    <button>Register</button>
</a>
<br><br>
<a href="/admin_login">
    <button>Admin Login</button>
</a>

<br><br>

<a href="/partner">
    <button>Partner With Us</button>
</a>

<a href="/feedback">
    <button>Feedback</button>
</a>
</a>
</a>
</div>

</body>
</html>
